$color-white: #fff;
$color-blue: #007aff;
$color-red: #ff6c64;
$color-green-light: #4ecb7e;
$color-green: #4cd964;
$color-violet: #5a4adf;
$color-text-black: #000000;
$color-text-light: #fff;
$color-bgk: #f5f5f5;
$color-bgk-gray: #eeeeee;
$color-text-gray: #494949;
$color-star: #fdd835;
